/*-------Gallery--------*/
.gallery {
  display: flex;
  height: 696px;
  padding: 24px 156px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 24px;
  flex-wrap: wrap;

  background: #fff;
}

a.gallery-link {
  width: 360px;
}

.gallery-item {
  display: flex;
  flex-direction: row;
  gap: 24px;
  height: 200px;
  flex-shrink: 0;
}

.gallery-image {
  width: 360px;
  height: 200px;
  flex-shrink: 0;
  box-sizing: border-box;
  transform: scale(1);
  transition: 250ms ease-out;
}

.gallery-image:hover,
.gallery-image:focus {
  transform: scale(1.04);
}

.simple-lightbox {
  background: rgba(46, 47, 66, 0.8);
}

ul,
.nav-list {
  list-style-type: none;
}

/*-------Feedback Form--------*/
.feedback-form {
  display: inline-flex;
  padding: 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;

  border-radius: 8px;
  background: #fff;

  max-width: 408px;
}

label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;

  width: 360px;
  height: auto;
}

input,
input:active {
  width: 360px;
  height: 40px;
  flex-shrink: 0;

  border-radius: 4px;
  border: 1px solid #808080;

  color: rgba(128, 128, 128, 1);
}

input:hover {
  border: 1px solid #000;
}

textarea {
  width: 360px;
  height: 80px;
  flex-shrink: 0;

  border-radius: 4px;
  border: 1px solid #808080;
  color: rgba(128, 128, 128, 1);
}

button {
  display: flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: #4e75ff;

  color: #fff;
  width: 95px;
  height: 40px;

  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  /* 150% */
  letter-spacing: 0.64px;
}

button:hover {
  background: #6c8cff;
}

:root {
  font-family: Montserrat, Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}